.tabs {
  border-bottom: 1px solid var(--borderColor);
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
}

.tab {
  text-decoration: none;
  color: var(--highlightColor);
  padding: 5px 7px;
}

.tab--active {
  position: relative;
  color: var(--bodyColor);
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--highlightColor);
    left: 0;
    bottom: -1px;
  }
}
