.spinner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 30px;
}

.spinner {
  --size: 60px;
  width: var(--size);
  height: var(--size);
  perspective: calc(var(--size) * 3);
  margin-bottom: 15px;

  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spinner 10s infinite linear;
  }

  .cube__face {
    position: absolute;
    width: var(--size);
    height: var(--size);
    backface-visibility: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .cube__face--front {
    transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
  }
  .cube__face--right {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
  }
  .cube__face--back {
    transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
  }
  .cube__face--top {
    transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
  }
  .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
  }
}
