.profile-group {
  display: inline-grid;
  justify-content: start;
  grid-template-areas: 'picture text';
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  transition: color 0.2s;
  text-align: left;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .avatar {
    width: 36px;
    height: 36px;
    position: relative;
  }
  .avatar-wrap {
    grid-area: picture;
    position: relative;
  }
  .profile-group__text {
    grid-area: text;
  }
}

.profile-group {
  &:hover {
    color: var(--highlightColor);
  }
}

.profile-group--no-name {
  display: inline-block;
}

.profile-group--rtl {
  text-align: right;
  grid-template-areas: 'text picture';
  padding-left: 10px;
}

.profile-group__name {
  font-weight: 600;
}
.profile-group__subtitle {
  color: var(--dimBodyColor);
  margin-top: -0.2em;
  transition: color 0.2s;
  font-size: 85%;
  .profile-group:hover & {
    color: var(--mediumBodyColor);
  }
}
