.proof-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.proof-thumbnails__item {
  --size: 80px;
  width: var(--size);
  height: calc(0.75 * var(--size));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 50%);
  }
  &:not(:first-child) {
    margin-left: 15px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.proof-thumbnails__item--active {
  &:after {
    box-shadow: 0 0 0 2px #0e78e0;
  }
}

.proof-thumbnails__item--twitch {
  background: #9146ff;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
